<div class="card">
  <h4>
    {{
      project.details && project.details.title
        ? project.details.title
        : project.name
    }}
  </h4>
  <hr />
  <small id="publishedOn" *ngIf="project.details && project.details.publishedOn"
    ><fa-icon
      [icon]="faCalendarAlt"
      size="xl"
      [styles]="{ color: 'grey' }"
    ></fa-icon>
    Published on:
    {{
      project.details && project.details.publishedOn
        ? project.details.publishedOn
        : ""
    }}</small
  >
  <hr id="lowerline" *ngIf="project.details && project.details.publishedOn" />
  <div>
    <p *ngIf="project.content && project.content.length > 0">
      {{ project.content | markdown | shortenContent }}
      <a routerLink="/projects/{{ project.name }}" (click)="onSelectProject()"
        >[Read more]</a
      >
    </p>
    <p *ngIf="!project.content || project.content.length == 0">
      No content for this project, although it is added to display here. Please
      add a "README.md".
    </p>
  </div>
  <hr />
  <div id="tags">
    <small *ngIf="project.details && project.details.tags"
      ><fa-icon
        [icon]="faHashtag"
        size="xl"
        [styles]="{ color: 'grey' }"
      ></fa-icon>
      {{ project.details.tags }}</small
    >
  </div>
</div>
