<div>
  <h3>Skills</h3>
  <hr />
  <div class="d-flex justify-content-center">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item border-0 pt-0" *ngFor="let skill of skills">
        <button (click)="onSelectSkill(skill)" class="btn btn-link">{{ skill.name }}</button>
      </li>
      <li class="list-group-item border-0 pt-0" *ngFor="let skill of otherSkills">
        <button class="btn btn-link">{{ skill.name }}</button>
      </li>
    </ul>
  </div>
  <app-language-skill *ngIf='isLanguageSkillSelected'></app-language-skill>
  <app-hard-skill *ngIf='isHardSkillSelected'></app-hard-skill>
  <app-soft-skill *ngIf='isSoftSkillSelected'></app-soft-skill>
  <app-skill *ngFor="let skill of otherSkills"></app-skill>
</div>
